<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container">
    <aside>
        <h3>Categories</h3>
        {% for category in categories %}
        <p>
            <a href="{{ url_for('listItem',
                    category_name=category.name)}}">{{ category.name }}
            </a>
        {% endfor %}
        </p>
    </aside>
    <section>
        <h3>Latest Items</h3>
        {% for item in items %}
            {% for category in categories %}
                {% if category.id == item.category_id %}
                    <p>
                        <a href="#">{{ item.title }}</a>
                        ({{ category.name }})
                    </p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </section>
</body>
</html>
