<!-- {% extends "index.html" %}
{% block content %}
{% include 'header.html' %}
    <form action="{{url_for('newItem')}}"
    method='post'>
        <p>Title:</p>
        <input name="title" type="text" size="30">
        <p>Description:</p>        
        <input name="description" type="text" size="250">
        Categories:
        <select name="category">
            {% for category in categories %}
            <option value="{{category.id}}"> {{ category.name }} </option> 
            {% endfor %}
        </select>
        <input type="submit" value="create">        
    </form>
{% endblock %} -->